.setButton {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--secondary-hover);
  cursor: pointer;
  user-select: none;
}
.setButton:hover {
  background-color: var(--secondary-hover);
}
